<!DOCTYPE html>
<html>
  <head>
    <title>SimpleBlogApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag    'https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   
   <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Simple Blog</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="nav navbar-nav mr-auto">
          <li class="nav-item"> <%= link_to "Home", home_path %> </li>
        </ul> 
      </div>
      <div>
        <ul class="nav navbar-nav  navbar-right">
          <li class="nav-item"> <%= link_to "Create Post", new_post_path %></li>
        </ul>
      </div>
    </nav> <br>
    
    <%= yield %>
    
  </body>
</html>
